USE [master]
GO
/****** Object:  Database [QuanLyKhachSan]    Script Date: 10/25/2025 9:20:41 PM ******/
CREATE DATABASE [QuanLyKhachSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyKhachSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyKhachSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[BaoCao]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaoCao](
	[MaBC] [char](10) NOT NULL,
	[TenBC] [nvarchar](100) NULL,
	[SoLuongKhach] [int] NULL,
	[TongPhong] [int] NULL,
	[DoanhThu] [decimal](18, 2) NULL,
	[MaNV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DatPhong]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DatPhong](
	[MaPDP] [varchar](20) NOT NULL,
	[MaPhong] [char](10) NOT NULL,
 CONSTRAINT [PK_CT_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaPDP] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[MaPTP] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CT_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaPTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_ThuePhong]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_ThuePhong](
	[MaPTP] [varchar](20) NOT NULL,
	[MaPhong] [char](10) NOT NULL,
 CONSTRAINT [PK_CT_ThuePhong] PRIMARY KEY CLUSTERED 
(
	[MaPTP] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [char](10) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[GiaDV] [decimal](18, 2) NULL,
	[MaLDV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[NgayVao] [date] NULL,
	[NgayRa] [date] NULL,
	[TongTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [nvarchar](15) NULL,
	[CCCD_HoChieu] [nvarchar](20) NULL,
	[Email] [nvarchar](50) NULL,
	[LoaiKH] [nvarchar](20) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDV]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDV](
	[MaLDV] [char](10) NOT NULL,
	[TenLDV] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLP] [char](10) NOT NULL,
	[TenLP] [nvarchar](50) NULL,
	[DonGia] [decimal](18, 2) NULL,
	[SoNguoiToiDa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGIN](
	[TaiKhoan] [char](15) NOT NULL,
	[MatKhau] [char](15) NULL,
	[Email] [char](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](30) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[Luong] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[MaPDP] [varchar](20) NOT NULL,
	[NgayNhan] [date] NULL,
	[TinhTrang] [nvarchar](20) NULL,
	[MaKH] [char](10) NULL,
 CONSTRAINT [PK_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[MaPDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDV]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDV](
	[MaPDV] [char](10) NOT NULL,
	[MaPTP] [varchar](20) NULL,
	[MaDV] [char](10) NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuThuePhong]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuThuePhong](
	[MaPTP] [varchar](20) NOT NULL,
	[NgayThue] [date] NULL,
	[NgayTra] [date] NULL,
	[MaKH] [char](10) NULL,
 CONSTRAINT [PK_PhieuThuePhong] PRIMARY KEY CLUSTERED 
(
	[MaPTP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 10/25/2025 9:20:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [char](10) NOT NULL,
	[SoPhong] [nvarchar](10) NULL,
	[MaLP] [char](10) NULL,
	[MaNV] [char](10) NULL,
	[TinhTrang] [nvarchar](20) NULL,
	[TANG] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BaoCao] ([MaBC], [TenBC], [SoLuongKhach], [TongPhong], [DoanhThu], [MaNV]) VALUES (N'BC001     ', N'Báo cáo ngày 20/10/2025', 5, 3, CAST(4500000.00 AS Decimal(18, 2)), N'NV001     ')
INSERT [dbo].[BaoCao] ([MaBC], [TenBC], [SoLuongKhach], [TongPhong], [DoanhThu], [MaNV]) VALUES (N'BC002     ', N'Báo cáo ngày 21/10/2025', 8, 5, CAST(7800000.00 AS Decimal(18, 2)), N'NV002     ')
INSERT [dbo].[BaoCao] ([MaBC], [TenBC], [SoLuongKhach], [TongPhong], [DoanhThu], [MaNV]) VALUES (N'BC003     ', N'Báo cáo ngày 22/10/2025', 6, 4, CAST(6200000.00 AS Decimal(18, 2)), N'NV001     ')
GO
INSERT [dbo].[CT_DatPhong] ([MaPDP], [MaPhong]) VALUES (N'P25102422 ', N'P003      ')
GO
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaPTP], [SoLuong], [TongTien]) VALUES (N'HD001     ', N'PTP002    ', 1, CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[CT_HoaDon] ([MaHD], [MaPTP], [SoLuong], [TongTien]) VALUES (N'HD25102422', N'PTP001    ', 1, CAST(3315000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[CT_ThuePhong] ([MaPTP], [MaPhong]) VALUES (N'M001      ', N'P004      ')
INSERT [dbo].[CT_ThuePhong] ([MaPTP], [MaPhong]) VALUES (N'MP011     ', N'P002      ')
INSERT [dbo].[CT_ThuePhong] ([MaPTP], [MaPhong]) VALUES (N'P25102422', N'P003      ')
GO
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [GiaDV], [MaLDV]) VALUES (N'DV001     ', N'Coca Cola', CAST(20000.00 AS Decimal(18, 2)), N'LDV01     ')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [GiaDV], [MaLDV]) VALUES (N'DV002     ', N'Bia Tiger', CAST(35000.00 AS Decimal(18, 2)), N'LDV01     ')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [GiaDV], [MaLDV]) VALUES (N'DV003     ', N'Mì xào bò', CAST(70000.00 AS Decimal(18, 2)), N'LDV01     ')
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayVao], [NgayRa], [TongTien]) VALUES (N'HD001     ', CAST(N'2025-10-15' AS Date), CAST(N'2025-10-17' AS Date), CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[HoaDon] ([MaHD], [NgayVao], [NgayRa], [TongTien]) VALUES (N'HD25102422', CAST(N'2025-10-20' AS Date), CAST(N'2025-10-24' AS Date), CAST(3315000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [CCCD_HoChieu], [Email], [LoaiKH], [DiemTichLuy]) VALUES (N'KH001     ', N'Phạm Văn D', N'0912345678', N'012345678901', N'vand@gmail.com', N'Vãng lai', 0)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [CCCD_HoChieu], [Email], [LoaiKH], [DiemTichLuy]) VALUES (N'KH002     ', N'Nguyễn Thị E', N'0987654321', N'123456789', N'thie@gmail.com', N'Thân thiết', 150)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [SDT], [CCCD_HoChieu], [Email], [LoaiKH], [DiemTichLuy]) VALUES (N'KH003     ', N'Mr. John Smith', N'0977888999', N'C1234567', N'john@email.com', N'Nước ngoài', 20)
GO
INSERT [dbo].[LoaiDV] ([MaLDV], [TenLDV]) VALUES (N'LDV01     ', N'Ăn uống (F&B)')
INSERT [dbo].[LoaiDV] ([MaLDV], [TenLDV]) VALUES (N'LDV02     ', N'Giặt ủi')
INSERT [dbo].[LoaiDV] ([MaLDV], [TenLDV]) VALUES (N'LDV03     ', N'Giải trí')
GO
INSERT [dbo].[LoaiPhong] ([MaLP], [TenLP], [DonGia], [SoNguoiToiDa]) VALUES (N'LP001     ', N'Phòng Đơn (Standard)', CAST(500000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[LoaiPhong] ([MaLP], [TenLP], [DonGia], [SoNguoiToiDa]) VALUES (N'LP002     ', N'Phòng Đôi (Superior)', CAST(800000.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[LoaiPhong] ([MaLP], [TenLP], [DonGia], [SoNguoiToiDa]) VALUES (N'LP003     ', N'Phòng VIP (Deluxe)', CAST(1500000.00 AS Decimal(18, 2)), 2)
GO
INSERT [dbo].[LOGIN] ([TaiKhoan], [MatKhau], [Email]) VALUES (N'admin          ', N'admin          ', N'admin@ks.com             ')
INSERT [dbo].[LOGIN] ([TaiKhoan], [MatKhau], [Email]) VALUES (N'letan          ', N'123            ', N'letan@ks.com             ')
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [Email], [GioiTinh], [NgaySinh], [Luong]) VALUES (N'NV001     ', N'Nguyễn Văn A', N'Lễ tân', N'0905111222', N'vana@ks.com', N'Nam', CAST(N'1995-05-10' AS Date), CAST(7000000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [Email], [GioiTinh], [NgaySinh], [Luong]) VALUES (N'NV002     ', N'Trần Thị B', N'Quản lý', N'0905333444', N'thib@ks.com', N'Nữ', CAST(N'1990-02-15' AS Date), CAST(15000000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [ChucVu], [SDT], [Email], [GioiTinh], [NgaySinh], [Luong]) VALUES (N'NV003     ', N'Lê Văn C', N'Buồng phòng', N'0905555666', N'vanc@ks.com', N'Nam', CAST(N'1998-11-20' AS Date), CAST(5000000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PhieuDatPhong] ([MaPDP], [NgayNhan], [TinhTrang], [MaKH]) VALUES (N'P25102422 ', CAST(N'2025-10-24' AS Date), N'Đã đặt', N'KH003     ')
GO
INSERT [dbo].[PhieuDV] ([MaPDV], [MaPTP], [MaDV], [SoLuong], [ThanhTien]) VALUES (N'PDV001    ', N'PTP001    ', N'DV001     ', 2, CAST(40000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuDV] ([MaPDV], [MaPTP], [MaDV], [SoLuong], [ThanhTien]) VALUES (N'PDV002    ', N'PTP001    ', N'DV004     ', 1, CAST(75000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuDV] ([MaPDV], [MaPTP], [MaDV], [SoLuong], [ThanhTien]) VALUES (N'PDV7fd5a66', N'P25102422', N'DV003     ', 1, CAST(70000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[PhieuThuePhong] ([MaPTP], [NgayThue], [NgayTra], [MaKH]) VALUES (N'M001      ', CAST(N'2025-10-23' AS Date), NULL, N'KH001     ')
INSERT [dbo].[PhieuThuePhong] ([MaPTP], [NgayThue], [NgayTra], [MaKH]) VALUES (N'MP011     ', CAST(N'2025-10-23' AS Date), NULL, N'KH002     ')
INSERT [dbo].[PhieuThuePhong] ([MaPTP], [NgayThue], [NgayTra], [MaKH]) VALUES (N'P25102422', CAST(N'2025-10-24' AS Date), NULL, N'KH002     ')
GO
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [MaLP], [MaNV], [TinhTrang], [TANG]) VALUES (N'P001      ', N'101', N'LP001     ', N'NV003     ', N'Trống', 1)
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [MaLP], [MaNV], [TinhTrang], [TANG]) VALUES (N'P002      ', N'102', N'LP001     ', N'NV003     ', N'Đang thuê', 1)
INSERT [dbo].[Phong] ([MaPhong], [SoPhong], [MaLP], [MaNV], [TinhTrang], [TANG]) VALUES (N'P003      ', N'201', N'LP002     ', N'NV003     ', N'Đang thuê', 2)
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_Luong]  DEFAULT ((0)) FOR [Luong]
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [DF_Phong_TinhTrang]  DEFAULT (N'Trống') FOR [TinhTrang]
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[BaoCao]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[CT_DatPhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[CT_DatPhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[CT_DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_DatPhong_PhieuDatPhong] FOREIGN KEY([MaPDP])
REFERENCES [dbo].[PhieuDatPhong] ([MaPDP])
GO
ALTER TABLE [dbo].[CT_DatPhong] CHECK CONSTRAINT [FK_CT_DatPhong_PhieuDatPhong]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_HoaDon]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_PhieuThuePhong] FOREIGN KEY([MaPTP])
REFERENCES [dbo].[PhieuThuePhong] ([MaPTP])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_PhieuThuePhong]
GO
ALTER TABLE [dbo].[CT_ThuePhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[CT_ThuePhong]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[CT_ThuePhong]  WITH CHECK ADD  CONSTRAINT [FK_CT_ThuePhong_PhieuThuePhong] FOREIGN KEY([MaPTP])
REFERENCES [dbo].[PhieuThuePhong] ([MaPTP])
GO
ALTER TABLE [dbo].[CT_ThuePhong] CHECK CONSTRAINT [FK_CT_ThuePhong_PhieuThuePhong]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaLDV])
REFERENCES [dbo].[LoaiDV] ([MaLDV])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaLDV])
REFERENCES [dbo].[LoaiDV] ([MaLDV])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuDV]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuDV]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[PhieuDV]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDV_PhieuThuePhong] FOREIGN KEY([MaPTP])
REFERENCES [dbo].[PhieuThuePhong] ([MaPTP])
GO
ALTER TABLE [dbo].[PhieuDV] CHECK CONSTRAINT [FK_PhieuDV_PhieuThuePhong]
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[PhieuThuePhong]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLP])
REFERENCES [dbo].[LoaiPhong] ([MaLP])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLP])
REFERENCES [dbo].[LoaiPhong] ([MaLP])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
USE [master]
GO
